body {
  background-color: #222;
  color: aliceblue;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  height: 35%;
}

.p1active {
  float: left;
  width: 50%;
  background-color: red;
}

.p1notactive {
  float: left;
  width: 50%;
  background-color: blue;
}

.p2active {
  float: right;
  width: 50%;
  background-color: red;
}

.p2notactive {
  float: right;
  width: 50%;
  background-color: blue;
}


/**********************************************
*** GENERAL
**********************************************/
